.cmp_PhotoText {
    background-image: url(bg.png);
    background-size: contain;
    background-repeat: repeat;
}

.cmp_PhotoText .wrapper {
    width: 100vw;
    height: 100vh;

    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    justify-content: center;
}

.cmp_PhotoText .wrapper-wrapper {
    width: 100vw;

    margin: 0 auto;
    display: block;

}


.cmp_PhotoText .wrapper .wrapper-text {

width: 550px;
 
    display: inline;
    float: left;
    padding-left:6vw;
    padding-right: 0px;


}

.cmp_PhotoText .wrapper .wrapper-text h1 {
    font-size: 50px;
    font-family: font-light;
    font-weight: 100;
    line-height: 100%;
    margin: 0px;


    margin-bottom: 10px;

}

.cmp_PhotoText .wrapper .wrapper-text .hbar {
    height: 1px;
    width: 50px;
    background-color: black;
    margin-top: 35px;
    margin-bottom:35px;


    border: 1px solid black;
    border-radius: 20px;

}


.cmp_PhotoText .wrapper .wrapper-text p {
    font-size: 23px;
    width: 500px;
        padding-left: 50px;
}

.cmp_PhotoText .wrapper .wrapper-img {
    width: 55vw;
      height: 60vh;
    display: inline;
       float: right;
    background-image: url(../../../../resources/creative.jpg);
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 1600px) {
    .cmp_PhotoText .wrapper .wrapper-img {
    width: 55vw;
        height: 50vh;
    }
    .cmp_PhotoText .wrapper .wrapper-text p {
    font-size: 23px;

    padding-left: 50px;
}
    .cmp_PhotoText .wrapper .wrapper-text .hbar {
           margin-top: 25px;
    margin-bottom:25px;

    }
}

@media only screen and (max-width: 1450px) {
    .wrapper .wrapper-text{
        position: relative;
        top:-20px;
    }
    .wrapper .wrapper-text h1 {
    font-size: 42px;
    }
    .cmp_PhotoText .wrapper .wrapper-text .hbar{
   width: 35px;
    margin-top: 15px;
        margin-bottom: 10px;
    }
    .cmp_PhotoText .wrapper .wrapper-text p {
    font-size: 21.5px;
    padding-left: 50px;
    width: 370px;
        margin-top: 0px;
        
}
    .cmp_PhotoText .wrapper .wrapper-text {
    width: 410px;
    }
}







@media only screen and (max-width: 1000px) {
    
    
}