        .Footer {
        	color: black;

        	padding-top: 200px;
        	height: 270px;

        }

        .Footer-Email {
        	font-size: 40pt;
        	padding-top: 20px;
        }

        .Footer-Address {
        	font-family: font-light;
        	font-size: 15pt;
        }

        .Footer-City {
        	font-family: font-bold;
        	font-size: 15pt;
        }

        .Footer-HashAndSocial {
        	padding: 20pt;
        	font-size: 15pt;
        }

        .Footer-Hash {
        	font-family: font-light;
        	display: inline;
        }

        .Footer-SocialList {
        	font-family: font-light;
        	display: inline;

        }

        .Footer-Drop {
        	font-family: font-light;
        	display: inline;
        	cursor: pointer;
        	z-index: 10;
        }

.Footer-Drop i{
	opacity: 1;
}

        .Footer-Drop i:nth-child(1) {
        	position: relative;
        	left: 0px;
        	z-index: 10;opacity: 1;
        }

        .Footer-Drop i:nth-child(2) {
        	position: relative;
        	left: -16px;
        	z-index: 9;
        }

        .Footer-Drop i:nth-child(3) {
        	position: relative;
        	left: -32px;
        	z-index: 8;
        }

        .Footer-Drop i:nth-child(4) {
        	position: relative;
        	left: -48px;
        	z-index: 7;
        }

        .Footer-Drop i:nth-child(5) {
        	position: relative;
        	left: -64px;
        	z-index: 5;
        }

        .Footer-Drop i:nth-child(6) {
        	position: relative;
        	left: -80px;
        	z-index: 4;
        }
