 .cmp_About {
     width: 100vw;
     height: 100vh;
     display: block;
 }

 .cmp_About .wrapper {
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: row;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-flex-wrap: nowrap;
     -ms-flex-wrap: nowrap;
     flex-wrap: nowrap;
     -webkit-justify-content: flex-start;
     -ms-flex-pack: start;
     justify-content: flex-start;
     -webkit-align-content: space-between;
     -ms-flex-line-pack: justify;
     align-content: space-between;
     -webkit-align-items: flex-start;
     -ms-flex-align: start;
     align-items: flex-start;
 }

 .cmp_About .col {
     width: 50vw;
     height: 100vh;

 }

 .cmp_About .about-img {
     width: 50vw;
     height: 100vh;
 }

 .cmp_About .about-img {
     background-size: cover;
     background-position: center;
 }

 .cmp_About .about-content-wrapper {
     padding-top: 0vh;
     width: 50vw;
     height: 100vh;
     color: black;
     font: 25px;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-flex-wrap: nowrap;
     -ms-flex-wrap: nowrap;
     flex-wrap: nowrap;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-align-content: center;
     -ms-flex-line-pack: justify;
     align-content: space-between;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
 }

 .cmp_About .about-content {
     width: 30vw;
     height: auto;
 }

 .cmp_About .about-content h1 {
    font-size: 6vh;
     font-family: font-light;
     font-weight: 100;
     line-height: 100%;
     margin: 0em;
 }
.cmp_About .hbar {
    height: 0.2vh;
    width: 2.5vw;
    background-color: black;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 0.1px solid black;
    border-radius: 20px;
}

 .cmp_About .text {
     width: calc(100% - 2.5vh);
     padding-left: 2.5vw;
 }

 .cmp_About p {
        font-size: 2.5vh;
 }

.cmp_About .paleta-colores {
    width: 100%;
    height: auto;
    font-size: 1.5vh;
    line-height: 120%;

     display: -ms-inline-flexbox;
     display: -webkit-inline-flex;
     display: inline-flex;
     -webkit-flex-direction: row;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-flex-wrap: nowrap;
     -ms-flex-wrap: nowrap;
     flex-wrap: nowrap;
     -webkit-justify-content: flex-start;
     -ms-flex-pack: flex-start;
     justify-content:flex-start;
     -webkit-align-content:flex-start;
     -ms-flex-line-pack: justify;
     align-content: space-between;
     -webkit-align-items: flex-start;;
     -ms-flex-align: flex-start;
     align-items:flex-start;
 }

 .cmp_About .paleta-colores .color {
      width:3.25vw;
     margin-right: 1.25vw;
     font-family: font-light;
     font-weight:600;
     
}

.cmp_About .paleta-colores .color .box {
    background-color: blueviolet;
    width: 100%;
    padding-top: 100%;
    margin: 2vh;
    margin-left: 0px;
    margin-right: 0px;
}



 .Description-FullSize {}

 .Description-Left {
     overflow: hidden;
     width: 50%;
     height: 100vh;
     float: left;
     background-size: cover;

     -webkit-transition: all 1.5s ease-in-out;
     -moz-transition: all 1.5s ease-in-out;
     -ms-transition: all 1.5s ease-in-out;
     -o-transition: all 1.5s ease-in-out;
     transition: all 1.5s ease-in-out;
 }



 .Description-Right {
     overflow: hidden;
     width: 50vw;
     height: 100vh;
     float: right;
 }


 .Description-Right .titles {
     width: 650px;
     margin: 0 auto;

     position: relative;
     left: 5000px;


     padding-top: 200px;

     -webkit-transition: all 1.05s ease-in-out;
     -moz-transition: all 1.05s ease-in-out;
     -ms-transition: all 1.05s ease-in-out;
     -o-transition: all 1.05s ease-in-out;
     transition: all 1.05s ease-in-out;

 }

 .Description-Right .titles .title {
     font-family: font-light;
     font-size: 40pt;
     text-align: left;

 }

 .Description-Right .content {
     margin: 0 auto;
     font-family: font-light;
     font-size: 20pt;
     width: 650px;
 }

 .Description-Right .content p {
     text-align: left;
     position: relative;
     top: 2500px;
     padding-left: 55px;
     padding-bottom: 1vh;
     -webkit-transition: all 1.05s ease-in-out;
     -moz-transition: all 1.05s ease-in-out;
     -ms-transition: all 1.05s ease-in-out;
     -o-transition: all 1.05s ease-in-out;
     transition: all 1.05s ease-in-out;
 }

 .Description-Right .content ul {

     padding-top: 200px;
     list-style-type: none;
     padding: 0px;
     padding-left: 55px;
 }

 .Description-Right .content li {
     display: none;
     float: left;

     width: 70px;
     height: 65px;
     margin: 15px;

 }

 .Description-Right .content li:first-child {
     float: left;
     width: 70px;
     height: 65px;
     margin: 15px;
     margin-left: 0px;
 }

 .Description-Right .content li .color-box {
     width: 65px;
     height: 65px;

     margin-bottom: 20px;
 }

 .Description-Right .content li .text-box {
     text-align: left;
     font-size: 22px;
 }

 .hbar {
     display: none;
     height: 1px;
     width: 50px;
     background-color: black;
     margin-top: 20px;
     margin-bottom: 40px;
     border: 1px solid black;
     border-radius: 20px;
 }




















































 .cmp_Cover {
     width: 100vw;
     height: 100vh;
 }

 .cmp_Cover .wrapper {
     width: 100vw;
     height: 90vh;
     background-color: black;
     padding-top: 0px;
 }

.cmp_Cover .cover-img-bg {
    width: 100vw;
    height: 90vh;
    background-color: black;
    background-size: cover;
    background-position: center bottom;
}

 .cmp_Cover .buttons {
     width: 100vw;
     height: 0px;
 }












 .cmp_Cover .btn-middle {
     padding-top: 12px;
     font-size: 50px;
     display: inline-block;
     float: left;
     font-weight: 800;
     padding-left: 15px;
     padding-right: 15px;
     font-family: font-black;
 }

 .cmp_Cover .btn-next {
     display: inline-block;
     float: left;
     font-family: font-black;
     -webkit-filter: grayscale(100%);
     /* Safari 6.0 - 9.0 */
     filter: grayscale(100%);
 }


 .cmp_Cover .wrapper.padded {}

 .cmp_Cover .btn-group.padded {}
