   nav {
       position: fixed;
   }

   nav {

       font-family: font-light;

       position: fixed;
       display: block;

       padding-top: 0;
       top: 0;
       left: 0;
       z-index: 10;
       width: 100%;
       height: 60px;


       background-color: black;
       color:white;

   }

   nav.navShow {
       top: 0px;
   }

   nav.navLight {
       color: white;
   }

   nav .title {
       font-family: font-bold;
       height: 100%;

       font-size: 18pt;

       padding-left: 10pt;

       float: left;
       display: flex;
       justify-content: center;
       flex-direction: column;
       text-align: center;
       
       padding-top: 3pt;
   }

   nav .title span {
       position: relative;
       top: -5px;
   }





   nav .sections {
       font-family: font-bold;
       height: 100%;
       float: right;



   }

   nav .section {
   
       height: 100%;
       float: left;
       display: flex;
       justify-content: center;
       flex-direction: column;
       text-align: center;


   }

   nav .section div {
       background-color: #59FFCE;
       color: black;
   }

   nav .section span {
       padding: 5px;
           font-size: 18pt !important;

   }

   nav .subsection {

       height: 100%;
       float: left;
       display: flex;

    font-size: 16.5pt !important;

       justify-content: center;
       flex-direction: column;
       text-align: center;

       position: relative;
       top: -1px;
   }

   nav .subsection span {

       float: left;

   }

   nav .dots {
       height: 100%;
       float: left;
       display: flex;
       justify-content: center;
       flex-direction: column;
       text-align: center;
           padding-right: 3pt;
   }

   nav .dots span {
       padding: 10px;
       font-size: 30pt;
       position: relative;
       top: -3pt;
   
   }
