.Description-FullSize {}

.Description-Left {
    overflow: hidden;
    width: 50%;
    height: 100vh;
    float: left;
    background-size: cover;

    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -ms-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}



.Description-Right {
    overflow: hidden;
    width: 50vw;
    height: 100vh;
    float: right;
}


.Description-Right .titles {
    width: 550px;
    margin: 0 auto;

    position: relative;
    left: 5000px;

    padding-top: 150px;

    -webkit-transition: all 1.05s ease-in-out;
    -moz-transition: all 1.05s ease-in-out;
    -ms-transition: all 1.05s ease-in-out;
    -o-transition: all 1.05s ease-in-out;
    transition: all 1.05s ease-in-out;

}

.Description-Right .titles .title {
    font-family: font-light;
    font-size: 60px;
    text-align: left;

}

.Description-Right .content {

    margin: 0 auto;

    font-family: font-light;
    font-size: 25px;
    width: 550px;



}

.Description-Right .content p {
    text-align: justify;
    text-justify: inter-word;

    position: relative;
    top: 1000px;

    padding-left: 55px;

    -webkit-transition: all 1.05s ease-in-out;
    -moz-transition: all 1.05s ease-in-out;
    -ms-transition: all 1.05s ease-in-out;
    -o-transition: all 1.05s ease-in-out;
    transition: all 1.05s ease-in-out;
}

.Description-Right .content ul {
    list-style-type: none;
    padding: 0px;
    padding-left: 55px;
}

.Description-Right .content li {
    display: none;
    float: left;
    width: 65px;
    height: 65px;
    margin: 15px;

}

.Description-Right .content li:first-child {
    float: left;
    width: 65px;
    height: 65px;
    margin: 15px;
    margin-left: 0px;
}

.Description-Right .content li .color-box {
    width: 65px;
    height: 65px;

    margin-bottom: 20px;
}

.Description-Right .content li .text-box {
    text-align: left;
    font-size: 18px;
}

.hbar {
    height: 1px;
    width: 50px;
    background-color: black;
    margin-top: 35px;
    margin-bottom: 35px;


    border: 1px solid black;
    border-radius: 20px;
}

    @media only screen and (max-width: 1300px) {
        
        .Description-Right .titles{
            width: 400px;
            padding-top: 100px;
            margin-left: 70px;
        }

        .Description-Right .titles .title {
            font-size: 50px;

            
        }

        .Description-Right .content {
            margin-left: 70px;
            font-family: font-light;
            font-size: 20px;
            width: 400px;
        }
        .hbar{
                margin-top: 20px;
    margin-bottom: 20px;
        }

    }

    @media only screen and (max-width: 1000px) {
        
        
                .Description-Right .titles{
            width: 350px;
            padding-top: 100px;
                    margin-left: 40px;
        }

        .Description-Right .titles .title {
            font-size: 40px;

            
        }

        .Description-Right .content {
            margin-left: 30px;
            font-family: font-light;
            font-size: 16px;
            width: 350px;
        }
        
        .hbar {
            width: 30px;
        }
}























































.cmp_Cover{
        width: 100vw;
    height: 100vh;
}

.cmp_Cover .wrapper{
    width: 100vw;
    height: calc(93vh - 120px);
    background-color: black;
    padding-top: calc(7vh + 20px);
}
.cmp_Cover .cover-img-bg{
    width: 100vw;
    height: calc(93vh - 120px);
    background-color: black;
    background-size: cover;
    background-position: center center;
}

.cmp_Cover .buttons{
     width: 100vw;
    height: 100px;
}


.cmp_Cover .btn-group{
    background-color: white;
 
    color: black;
    font-family: font-bold;
    font-size: 50px;
     display: inline-block;
       padding: 0px 20px 10px 20px;
    
    position: relative;top:-33px;
}

.cmp_Cover .btn-prev{
    display: inline-block;
    float: left;
    
}
.cmp_Cover .btn-middle{
     display: inline-block;
    float: left;
    padding-left: 12px;
    padding-right: 12px;
}
.cmp_Cover .btn-next{
   display: inline-block;
    float: left;
}