   menu {
       position: fixed;
       width: 100vw;
       right: -100vw;

       height: 100vh;
       z-index: 1000;

       font-size: 14pt;
       background-color: black;
       color: white;

       -webkit-transition: right 500ms ease-in-out;
       -moz-transition: right 500ms ease-in-out;
       -ms-transition: right 500ms ease-in-out;
       -o-transition: right 500ms ease-in-out;
       transition: right 500ms ease-in-out;
       
       z-index: 10000000000000000000;

   }

   menu.active {
       right: 0px;
   }








   .SideMenu-X {
       
       width: 30px;
       height: 30px;
       cursor: pointer;
       position: absolute;
       right: 0px;

       margin: 20px 20px 20px 10px;
       background-image: url(x.png);
       background-size: cover;

   }

   .SideMenu-X.c0:hover {
       background-image: url(x_c0.png);
   }

   .SideMenu-X.c1:hover {
       background-image: url(x_c1.png);
   }

   .SideMenu-X.c2:hover {
       background-image: url(x_c2.png);
   }

   .SideMenu-X.c3:hover {
       background-image: url(x_c3.png);
   }

   .SideMenu-X.c4:hover {
       background-image: url(x_c4.png);
   }

   .SideMenu-X.c5:hover {
       background-image: url(x_c5.png);
   }
































   .SideMenu-wrapper {
       display: -webkit-box;
       display: -moz-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       flex-direction: row;
       -webkit-flex-direction: row;
       -ms-flex-direction: row;
         align-items: center;
  justify-content: center;
   }

   .SideMenu-wrapper ul {
       list-style-type: none;
       padding: 0px;
       margin: 0 auto;
       width: 80%;
       height: 450px;
       
       padding-top: calc(50vh - 225px)
    

   }

   .SideMenu-wrapper ul li {
       line-height: 100%;
       
   }


   .SideMenu-wrapper ul li.ts-c:hover {
       -webkit-filter: brightness(150%);
       /* Safari 6.0 - 9.0 */
       filter: brightness(150%);
   }










   .SideMenu-wrapper ul li.active {}

   .SideMenu-wrapper ul li:first-child {}

   .SideMenu-wrapper ul li.noBar {

       cursor: pointer;
       text-align: center;
       margin-top: 20px;
       margin-bottom: 20px;
   }

   .SideMenu-wrapper ul li.noBar:hover {
       color: #aaa;
   }

   .SideMenu-wrapper ul li.h-bar {

       width: 65%;
       margin: 0 auto;
       height: 2px;
       background-color: #000;
       text-align: left;
       margin-bottom: 1vh;
       margin-top: 1vh;


       -webkit-transition: width 500ms ease-in-out;
       -moz-transition: width 500ms ease-in-out;
       -ms-transition: width 500ms ease-in-out;
       -o-transition: width 500ms ease-in-out;
       transition: width 500ms ease-in-out;

       background-color: white;


   }

   .SideMenu-wrapper ul li.h-bar.ww {}

   .SideMenu-wrapper ul li span {
       display: inline;

   }


   .SideMenu-wrapper ul li span.online {
       display: inline;
       padding: 0px;
       margin: 0px;
   }

   .SideMenu-wrapper ul li span.online.f-bold {
       position: relative;
       left: -0.25vw;
   }

   .SideMenu-Title {}












   .menu .active {
       color: white;
   }












   .hv4dark {
       color: #dedede !important;
   }

   .hv4light {
       color: #303030 !important;
   }
