.Description-FullSize {}

.Description-Left {
    overflow: hidden;
    width: 50%;
    height: 100vh;
    float: left;
    background-size: cover;

    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -ms-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}



.Description-Right {
    overflow: hidden;
    width: 50vw;
    height: 100vh;
    float: right;
}


.Description-Right .titles {
    width: 650px;
    margin: 0 auto;

    position: relative;
    left: 5000px;


    padding-top: 200px;

    -webkit-transition: all 1.05s ease-in-out;
    -moz-transition: all 1.05s ease-in-out;
    -ms-transition: all 1.05s ease-in-out;
    -o-transition: all 1.05s ease-in-out;
    transition: all 1.05s ease-in-out;

}

.Description-Right .titles .title {
    font-family: font-light;
    font-size: 60px;
    text-align: left;

}

.Description-Right .content {
    margin: 0 auto;
    font-family: font-light;
    font-size: 25px;
    width: 650px;
}

.Description-Right .content p {
    text-align: left;
    position: relative;
    top: 2500px;
    padding-left: 55px;
    padding-bottom: 1vh;
    -webkit-transition: all 1.05s ease-in-out;
    -moz-transition: all 1.05s ease-in-out;
    -ms-transition: all 1.05s ease-in-out;
    -o-transition: all 1.05s ease-in-out;
    transition: all 1.05s ease-in-out;
}

.Description-Right .content ul {

    padding-top: 250px;
    list-style-type: none;
    padding: 0px;
    padding-left: 55px;
}

.Description-Right .content li {
    display: none;
    float: left;

    width: 70px;
    height: 65px;
    margin: 15px;

}

.Description-Right .content li:first-child {
    float: left;
    width: 70px;
    height: 65px;
    margin: 15px;
    margin-left: 0px;
}

.Description-Right .content li .color-box {
    width: 65px;
    height: 65px;

    margin-bottom: 20px;
}

.Description-Right .content li .text-box {
    text-align: left;
    font-size: 22px;
}

.hbar {
    display: none;
    height: 1px;
    width: 50px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 1px solid black;
    border-radius: 20px;
}
@media only screen and (max-width: 1300px) {

    .Description-Right .titles {
        width: 400px;
        padding-top: 130px;
        margin-left: 70px;
    }

    .Description-Right .titles .title {
        font-size: 37px;


    }

    .Description-Right .content {
        margin-left: 70px;
        font-family: font-light;
        font-size: 17px;
        width: 400px;
    }
    .hbar {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    
.Description-Right .content li {
    display: none;
    float: left;

    width: 50px;
    height: 65px;
    margin: 7px;

}

.Description-Right .content li:first-child {
    float: left;
    width: 50px;
    height: 65px;
    margin: 7px;
    margin-left: 0px;
}

.Description-Right .content li .color-box {
    width: 40px;
    height: 40px;

    margin-bottom: 20px;
}

.Description-Right .content li .text-box {
    text-align: left;
    font-size: 15px;
}

}
@media only screen and (max-width: 1100px) {

    .Description-Right .titles {
        width: 400px;
        padding-top: 50px;
        margin-left: 70px;
    }

    .Description-Right .titles {
        width: 350px;
        padding-top: 100px;
        margin-left: 40px;
    }

    .Description-Right .titles .title {
        font-size: 30px;


    }

    .Description-Right .content {
        margin-left: 30px;
        font-family: font-light;
        font-size: 16px;
        width: 350px;
    }

    .hbar {
        width: 30px;
    }
}























































.cmp_Cover {
    width: 100vw;
    height: 100vh;
}

.cmp_Cover .wrapper {
    width: 100vw;
    height: calc(100vh - 0px);
    background-color: black;
    padding-top: 0px;
}

.cmp_Cover .cover-img-bg {
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: black;
    background-size: cover;
    background-position: center bottom;
}

.cmp_Cover .buttons {
    width: 100vw;
    height: 0px;
}






.cmp_Cover .btn-group {
    background-color: white;

    color: black;
    font-family: font-bold;
    font-weight: 400;
    font-size: 65px;
    display: inline-block;
    padding: 0px 20px 10px 20px;

    position: relative;
    top: -33px;
}

.cmp_Cover .btn-prev {
    display: inline-block;
    float: left;
    font-family: font-black;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);



}







.cmp_Cover .btn-middle {
    padding-top: 12px;
    font-size: 50px;
    display: inline-block;
    float: left;
    font-weight: 800;
    padding-left: 15px;
    padding-right: 15px;
    font-family: font-black;
}

.cmp_Cover .btn-next {
    display: inline-block;
    float: left;
    font-family: font-black;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


.cmp_Cover .wrapper.padded {

}

.cmp_Cover .btn-group.padded {

}
