   nav {
       position: fixed;
   }

   nav {

       font-family: font-light;

       position: fixed;
       display: block;

       padding-top: 0;
       top: 0;
       left: 0;
       z-index: 10;
       width: 100%;
       height: 100px;


       color: white;
       background-color: black;

   }

   nav.navShow {
       top: 0px;
   }

   nav.navLight {
       color: white;
   }

nav .title {
    font-family: font-bold;
    height: 100%;
    font-size: 6vw;
    margin-left: 3vw;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2px;
}

   nav .title span {
       position: relative;
       top: -5px;
   }





   nav .sections {
       font-family: font-bold;
       height: 100%;
       float: right;



   }

   nav .section {
   
       height: 100%;
       float: left;
       display: flex;
       justify-content: center;
       flex-direction: column;
       text-align: center;


   }

   nav .section div {
       background-color: #59FFCE;
       color: black;
   }

   nav .section span {
       padding: 5px;
           font-size: 4vw !important;

   }

nav .subsection {
    height: 100%;
    float: left;
    display: flex;
    font-size: 4.5vw !important;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: -1px;
}

   nav .subsection span {

       float: left;

   }

   nav .dots {
       height: 100%;
       float: left;
       display: flex;
       justify-content: center;
       flex-direction: column;
       text-align: center;
           padding-right: 3pt;
   }

nav .dots span {
    padding: 10px;
    font-size: 7.4vw;
    position: relative;
    top: -0.6vw;
    left: -0.5vw;
}

@media only screen 
  and (orientation: landscape) {
         nav {

       font-family: font-light;

       position: fixed;
       display: block;

       padding-top: 0;
       top: 0;
       left: 0;
       z-index: 10;
       width: 100%;
       height: 60px;


       color: white;
       background-color: black;

   }
      nav .title {
    font-family: font-bold;
    height: 100%;
    font-size: 3vw;
    margin-left: 1vw;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2px;
}
    nav .dots span {
    padding: 10px;
    font-size: 4.5vw;
    position: relative;
    top: -0.6vw;
    left: -0.5vw;
}
 nav .subsection {
    height: 100%;
    float: left;
    display: flex;
    font-size: 3vw !important;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: -1px;
}

}
