.cmp_Categorias {
    padding-top: 100px;
    width: 100vw;
}

.cmp_Categorias .category-title {
    text-align: center;
    font-size: 7vw;
    display: none;
    padding-top: 120px;
    padding-bottom: 35px;
}

.cmp_Categorias .enable {
    display: block;

}



.cmp_Categorias .slide-content {
    width: 100vw;
    /* height: 160px; */
}

.cmp_Categorias ul.menu {
    font-size: 1.1vw;
    font-family: font-regular;
    text-transform: uppercase;

    text-decoration: none;
    list-style-type: none;


    padding: 0px;
    margin: 0px;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;

    justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;

    background-color: #fff;
}

.seemore {
    border: 1px solid rgba(0, 0, 0, 0);
    width: 20vw;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 4vw;
    cursor: pointer;

    display: none;

}

.seeless {
    border: 1px solid black;
    width: 20vw;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 4vw;
    cursor: pointer;
    display: none;
}

.seemore.on {
    display: block;
}

.seeless.on {
    display: block;
}


.cmp_Categorias .text h1 {

    font-size: 5vw;
    margin: 0px;
    font-family: font-light;
    font-weight: 100;


}

.cmp_Categorias .text p {

    font-size: 4vw;
    max-width: 80vw;
    text-align: center;
    margin: 0 auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
    line-height: 100%;

}

.cmp_Categorias .text {

    text-align: center;
    margin: 0 auto;
    font-family: font-light;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;

    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;

    align-items: center;

    display: none;

    padding-top: 25px;
}

.cmp_Categorias .text.enable {
    display: block;
}

.item {
    padding: 1px 5px 1px 5px;
    cursor: pointer;
}

.item:hover {
    color: gray;
}

.item.ts-bg {
    font-family: font-bold;
}

.item.ts-bg:hover {
    color: black;
}


.cmp_Categorias .ts-img-back {
    display: none
}


.cmp_Categorias .ts-img-front {
    display: block;
}



.cmp_Categorias .row {
    display: block;
    width: 100vw;
}

.cmp_Categorias .row.r1 {
    height: 15vh;
}

.cmp_Categorias .row.r2 {
    height: 2.5vh;
    width: 70vw;
    margin: 0 auto;
}

.cmp_Categorias .row.r3 {
    height: 20vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;

    align-items: flex-end;
}

.cmp_Categorias .row.r4 {
    height: 5vh;
}

.cmp_Categorias .row.r5 {
    height: 0vh;
}

.cmp_Categorias .row.r6 {
    height: 57.5vh;

}

.cmp_Categorias .row.r6 .img-wrapper {
    height: 57.5vh;
    width: fit-content;
    margin: 0 auto;
}

.swiper-container-images {
    height: 55vh;
    width: 82.3838999643vh;
    width: 100vw;
    margin: 0 auto;
}

.swiper-container-images img {
    display: block;
    /*for the img inside your div */
    margin-left: auto;
    margin-right: auto;
}

.swiper-button-prev,
.swiper-button-next {
    -webkit-filter: grayscale(100%) contrast(500%);
    ;
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(500%);
    ;

}

@media only screen and (orientation: landscape) {
    .cmp_Categorias {
        padding-top: 60px;
        width: 100vw;
    }

    .cmp_Categorias .category-title {
        text-align: center;
        font-size: 5vw;

        padding-top: 100px;
        padding-bottom: 35px;
    }
    .seemore {
    border: 1px solid rgba(0, 0, 0, 0);
    width: 12vw;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 2.5vw;
    cursor: pointer;
    }
    .seeless {
    border: 1px solid black;
    width: 13vw;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 2.5vw;
    cursor: pointer;
    display: none;
}

    .cmp_Categorias .text h1 {
    font-size: 3.5vw;
    margin: 0px;
    font-family: font-light;
    font-weight: 100;
}
    .cmp_Categorias .text p {
    font-size: 2.5vw;
    max-width: 80vw;
    text-align: center;
    margin: 0 auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
    line-height: 100%;
}
    .cmp_Categorias .ts-img-front {
    display: block;
        width: 70% !important;
        margin: 0 auto;
}
}
