
footer{
    position: fixed;
    bottom: 45px;
    left: 45px;
    
    color: white;
    z-index: 100;
    
    margin: 20px;
    
    
    background-color: rgba(0,0,0,0);
     font-size: 1.35vw !important;
}

. footer .Footer-HashAndSocial {
    padding: 20px;

    padding-top: calc(1vh + 10px);
    padding-bottom: calc(1vh + 10px);
}

footer .Footer-Hash {
    font-family: font-light;
    display: inline;
 
}

footer .Footer-SocialList {
    font-family: font-light;
    display: inline;
   


}

footer .Footer-Address {
    font-family: font-light;
    font-size: 1.4vw;
}

footer .Footer-City {
    font-family: font-bold;
    font-size: 1.5vw;
    position: relative;
    top: -1vh;
}

footer .Footer-Drop {
    font-family: font-light;
    display: inline;
    cursor: pointer;
   

}

footer .tintColor {
    display: none;

    padding-right: 10px;
}



footer.small  {
    
}



footer .d0 {
    color: #59FFCC;
        padding-left: 10px;
}

footer .d1 {
    color: #5AD8FF;
}

footer .d2 {
    color: #C676FF;
}

footer .d3 {
    color: #FF5AC8;
}

footer .d4 {
    color: #FF704A;
}
footer .d5 {
    color: #FFE445;
}



footer .d0:hover {
    color: #59FFCC;
    filter:brightness(150%);
}

footer .d1:hover {
    color: #5AD8FF;filter:brightness(150%);
}

footer .d2:hover {
    color: #C676FF;filter:brightness(150%);
}

footer .d3:hover {
    color: #FF5AC8;filter:brightness(150%);
}

footer .d4:hover {
    color: #FF704A;filter:brightness(150%);
}
footer .d5:hover {
    color: #FFE445;
    filter:brightness(150%);}











.cmp_Equipo {
    z-index: 10;
    border: 1px solid black;
}

.cmp_Footer .wrapper {
    margin: 0 auto;
    width: 100vw;

    z-index: 50;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    justify-content: center;
    


}



.cmp_Footer .Footer {
    color: white;
    height: auto;
    
        padding-bottom:40px;
}

.cmp_Footer .Footer-Email {
    font-size: 2.5vw;
    padding-top: calc(1vh + 10px);
    padding-bottom: calc(1vh + 10px);
}

. .cmp_Footer .Footer-HashAndSocial {
    padding: 20px;

    padding-top: calc(1vh + 10px);
    padding-bottom: calc(1vh + 10px);
}

.cmp_Footer .Footer-Hash {
    font-family: font-light;
    display: inline;
    font-size: 1.5vw;
}

.cmp_Footer .Footer-SocialList {
    font-family: font-light;
    display: inline;
    font-size: 1.5vw;


}

.cmp_Footer .Footer-Address {
    font-family: font-light;
    font-size: 1.4vw;
}

.cmp_Footer .Footer-City {
    font-family: font-bold;
    font-size: 1.5vw;
    position: relative;
    top: -1vh;
}

.cmp_Footer .Footer-Drop {
    font-family: font-light;
    display: inline;
    cursor: pointer;
    font-size: 1.5vw;

}

.cmp_Footer .tintColor {
    display: none;

    padding-right: 10px;
}





.cmp_Footer .d0 {
    color: #59FFCC;
        padding-left: 10px;
}

.cmp_Footer .d1 {
    color: #5AD8FF;
}

.cmp_Footer .d2 {
    color: #C676FF;
}

.cmp_Footer .d3 {
    color: #FF5AC8;
}

.cmp_Footer .d4 {
    color: #FF704A;
}
.cmp_Footer .d5 {
    color: #FFE445;
}



.cmp_Footer .d0:hover {
    color: #59FFCC;
    filter:brightness(150%);
}

.cmp_Footer .d1:hover {
    color: #5AD8FF;filter:brightness(150%);
}

.cmp_Footer .d2:hover {
    color: #C676FF;filter:brightness(150%);
}

.cmp_Footer .d3:hover {
    color: #FF5AC8;filter:brightness(150%);
}

.cmp_Footer .d4:hover {
    color: #FF704A;filter:brightness(150%);
}
.cmp_Footer .d5:hover {
    color: #FFE445;
    filter:brightness(150%);}




















.cmp_Footer .Footer {
    color: white;
    height: auto;
    /* padding-bottom: 40px; */
    position: relative;
    /* top: -30px; */
}


















