#SectionBranchs {
    
    display: block;
}


.cmp_Portfolio .wrapper {

    width: 1300px;
    height:auto;

    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}


.cmp_Portfolio h1 {
    font-size: 4vw;
    font-size: 60px;
    text-align: center;
    font-family: font-light;
    font-weight: 100;
    margin: 20px 0px;
}

.cmp_Portfolio p {
        font-size: 1.4vw;
        font-size: 25px;
    text-align: center;
    font-family: font-light;
    font-weight: 100;
    width: 90%;
 width: 100%;
    margin: 20px auto;
}


/* ------ Nav Padding Space ------ */

.cmp_Portfolio .nav-padding {
    width: 100%;
    background-color: #fff;
    z-index: 1
}

.cmp_Portfolio .nav-padding .content {
    width: 100%;
    height:150px;
    /* Nav Height */
    background-color: #fff;
    color: white;
}

.cmp_Portfolio .nav-padding.lower .content {
    width: 100%;
    height: 100px;
    /* Nav Height */
    background-color: #fff;
    color: white;
}


.cmp_Portfolio .project-wrapper {

    width: 100%;
    
    padding-top: 85px;


    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-around;

        flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    
    
    
}

.cmp_Portfolio .project-wrapper .project {
    width: 400px;
    height: 500px;
    margin: 10px;
     margin-right: auto;
}
.cmp_Portfolio .project-wrapper .project .title{
    font-family: font-bold;
    font-size: 20px;
    padding: 5px;
    text-align:center;
}

.cmp_Portfolio .project-wrapper .project:nth-child(odd) .title {
    background-color: #59FFCC;
    color: black;
}
.cmp_Portfolio .project-wrapper .project:nth-child(even) .title {
        background-color: #000;
    color: white;

}

.cmp_Portfolio .project-wrapper .project .image {
        background-color: black;
    background-size: cover;
       width: 400px;
    height: 400px;
    cursor: pointer;

}

.cmp_Portfolio .project-wrapper .project .image:hover {
    -webkit-filter: brightness(30%);
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
}

.cmp_Portfolio .project-wrapper .project .title {
background-color: aqua;
    margin-top: 30px;
    margin-bottom:30px;
}

.cmp_Portfolio .project-wrapper .project .title:hover{
    filter:brightness(50%);
}


@media only screen and (max-width: 1300px) {
    .cmp_Portfolio .wrapper{
        width: 1000px;
    }
    .cmp_Portfolio .project-wrapper .project {
    width: 300px;
    height: 400px;
    margin: 10px;
     margin-right: auto;
}
    .cmp_Portfolio .project-wrapper .project .image {
        background-color: black;
    background-size: cover;
       width: 300px;
    height: 300px;
    cursor: pointer;

}
    .cmp_Portfolio p {
        font-size: 22px;
        width: 90%;
    }
    
    .cmp_Portfolio h1 {
        font-size: 50px;
    }
    
    
    
    
}


@media only screen and (max-width: 1000px) {
    .cmp_Portfolio .wrapper{
        width: 700px;
    }
    .cmp_Portfolio .project-wrapper .project {
    width: 300px;
    height: 400px;
    margin: 10px;
     margin-right: auto;
}
    .cmp_Portfolio .project-wrapper .project .image {
        background-color: black;
    background-size: cover;
       width: 300px;
    height: 300px;
    cursor: pointer;

}
    
     .cmp_Portfolio p {
        width: 90%;
                 font-size: 19px;
    }
    
    .cmp_Portfolio h1 {
        font-size: 50px;
         font-size: 45px;
    }
    
}